/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex-container {
    width: 70%;
    height: 400px;
    border: 1px solid #000;
    margin: 20px auto;
    background-color: lightgreen;
    display: flex;
    /* justify-content:  stretch; розтягує всі елементи по висоті */
    /* justify-content: space-evenly; */
    /* justify-content: space-around; */
    /* justify-content: space-between; */
    /* justify-content: flex-end; */
    /* flex-direction: row; */
    /* flex-wrap: wrap; */
    /* justify-content: center;
    align-items: center; */
    /* align-items: baseline; */



/* .flex-box {
    width: 100px;
    height: 150px;
    background-color: lightskyblue;
    text-align: center;
    color: white;
    font-size: 30px;
    border: 1px solid #000;
} */ 
.snake_container {
    width: 70%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px auto;
    background-color: lightslategray;

}
.snake_case {
    width: 150px;
    height: 150px;
    margin: 50px auto;
    border: 1px solid #000;
    transition: all 0.6s;
}

.snake_case:hover {
    background-color: yellow;
    /* transform: rotate(-30deg); */
    /* transform: scale(0.6); */
    transform: skew(-20deg);
    width: 300px;
    height: 300px;
}